<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALL_ROOT">
      <Component Id="NGIN_PATH_COMPONENT"
                 Guid="151dbcc5-1c3b-5f01-90a1-4195683415d1">
        <Environment Id="NGIN_PATH"
                     Name="PATH"
                     Value="[INSTALL_ROOT]bin"
                     Action="set"
                     Part="last"
                     System="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
