build/
out/
.cache/
.cmake/
__pycache__/
*.pyc
*.vsix
package-lock.json
.ngin/workspace.overrides.json
.ngin/build/
Tools/ThirdParty/BuildTools/downloads/
Tools/ThirdParty/BuildTools/cmake/*/
Tools/ThirdParty/BuildTools/ninja/*/
